


a:focus,
button:focus {
  outline: 3px solid #004aad;
  outline-offset: 3px;
  border-radius: 4px;
}


.nav-button.black,
.cta-button {
  background-color: #000;
  color: #fff;
}

.nav-button.green {
  background-color: #7ed957;
  color: #000;
}


img[alt=""] {
  role: presentation;
}


body {
  line-height: 1.6;
  font-size: 16px;
}


.nav-link:hover,
.nav-link:focus {
  color: #004aad;
  text-decoration: underline;
}
